.box {
  border: 1px solid black ;
    height: 2163px;
    width: 1080px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -1140px;
    margin-left: -540px;
}

.logo {
     width: 500px;
    height: 452px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -250px;
    margin-left: -125px;
    
    
    
}