.box {
  border: 1px solid black ;
    height: 2163px;
    width: 1080px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -1140px;
    margin-left: -540px;
}

.topbar{
    background-color:#3A5A98;
    width:1079,5px;
    height: 137px;
    display:flex;
}

.notlogo{
    padding-top: 17px;
    padding-left: 869 px;
}

.box li{
    display: inline-block;
    
    
    

}